.wrapper {
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: #fff;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.temperature {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  position: absolute;
  right: 20px;
  top: 20px;
}
