.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  box-sizing: border-box;
  line-height: normal;
  margin: 0 10px 0 0;
  width: 100%;
  padding: 10px 8px;

  font-size: 16px;
  flex: 1;
}

.button {
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 5px 8px;
  border: 0;

  color: black;
  background: orange;

  font-size: 16px;
  line-height: 1;
  text-decoration: none;

  overflow: hidden;

  align-self: stretch;

  &:active {
    outline: 0;
  }
}
